<%= form_for(@coupon) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :expires %><br />
    <%= f.date_select :expires %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :activated_at %><br />
    <%= f.datetime_select :activated_at %>
  </div>
  <div class="field">
    <%= f.label :sent_at %><br />
    <%= f.datetime_select :sent_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
